version: '3.8'

services:
  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    ports:
      - "3000:3000"
    environment:
      - NODE_ENV=development
    depends_on:
      - backend
    networks:
      - melodiary-network

  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    image: seohyun7/melodiary:latest
    ports:
      - "3001:3001"
    environment:
      - NODE_ENV=development
      - PORT=3001
    env_file:
      - ./backend/.env
    networks:
      - melodiary-network

networks:
  melodiary-network:
    driver: bridge 